<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/nav_style.css">
  </head>
  <body>
    <ul>
      <li><a class="active" href="/">Home</a></li>

      <li><a href="/firmware">firmware</a></li>
      <li><a href="/productTypes/">productType</a></li>
      <li><a href="/FlashingRequest">FlashingRequest</a></li>
      <li><a href="/ControllerLog">ControllerLog</a></li>
      <li><a href="/flashingAPI">Flashing</a></li>
      <li style="float: right"><a href="#about">About</a></li>
    </ul>
  </body>
</html>
