<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../includes/nav.ejs'); -%>

    <form class="product-form" method="POST" action="/filesystem/add" enctype="multipart/form-data">
      <div class="form-control">
        <label for="Name">Name</label>
        <input type="text" name="Name" />
      </div>

      <div class="form-control">
        <label for="Compiled_Date">Compiled_Date</label>
        <input type="text" name="Compiled_Date" />
      </div>

      <div class="form-control">
        <label for="Version">Version</label>
        <input type="text" name="Version" />
      </div>
      <input type="file" name="avatar" multiple />
      <div class="form-control">
        <label for="RepositoryURL">RepositoryURL</label>
        <input type="text" name="RepositoryURL" />
      </div>
      <div class="form-control">
        <label for="filesystem">Choose a remote filem:</label>
        <select id="FileID" name="fileId">
            <% files.forEach(function(item) { %>
                <option value=<%= item.id %> > <%= item.dataValues.RepositoryURL %> </option>
            <% }); %>
        </select>
    </div>
      <input type="submit" />
    </form>
  </body>
</html>
